* {
  margin: 0;
  padding: 0;
}
.App {
 display: flex;
 align-items: center;
 flex-direction: column;
 width: 100%;
 height: 100vh;
 font-family: Arial, Helvetica, sans-serif;
}

.header .inputContainer {
  display: flex;
  flex-direction: column;
}

.header input {
  width: 200px;
  height: 40px;
  border: none;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  padding-left: 10px;
  font-size: 17px;
  border: 1px solid grey;

}

.header button {
  width: 70px;
  height: 87px;
  cursor: pointer;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  padding-left: 10px;
  
}


.header {
  display: flex;
  flex: 30%;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: tomato;
}

.todoList {
  flex: 70%;
  width: 100%;
}

